@charset "utf-8";

/* resetCSS */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

/* common */
.flex {
  display: flex;
}

header {
  display: flex;
}

header img {
  width: 70px;
  height: 70px;
}

header p {
  padding-top: 10%;
  padding-left: 5%;
  font-size: 1.7rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav {
  height: 80px;
  margin-left: 500px;
}

nav ul li {
  padding: 30px;
}

nav ul li a {
  font-size: 1.1rem;
  color: black;
}

.slide img {
  width: 100%;
  height: 650px;
}

.title h3 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.2rem;
}

footer {
  /* height: 300px; */
  background-color: #e6e6e6;
  text-align: center;
}

footer .contact h3 {
  padding-top: 3%;
  font-size: 2rem;
}

footer .finish p {
  width: 100%;
  color: white;
  background-color: rgb(22, 22, 22);
}

/* button */

.main-button {
  margin: 5% 0;
  text-align: center;
}

.main-button h2 a {
  background-color: #1b1464;
  color: #fff;
  padding: 3% 7%;
  border-radius: 5px;
  font-size: 3rem;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.main-button p {
  color: white;
  font-size: 1rem;
}

.more-button {
  margin: 4.5% 0;
  text-align: center;
}

.more-button p a {
  background-color: #000;
  color: #fff;
  padding: 1% 4%;
  border-radius: 5px;
}

/* 共通部分レスポンシブ */
