@charset "utf-8";

/* resetCSS */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

/* common */
body {
  width: 100%;
}

.flex {
  display: flex;
}

#nav-drawer {
  display: none;
}

#top {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

header {
  display: flex;
}

header img {
  width: 70px;
  height: 70px;
}

header p {
  padding-top: 10%;
  padding-left: 5%;
  font-size: 1.7rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

nav {
  height: 80px;
  margin-left: 500px;
}

nav ul li {
  padding: 30px;
}

nav ul li a {
  font-size: 1.1rem;
  color: black;
}

.slide {
  width: 100%;
}

.slide img {
  width: 100%;
  height: 650px;
}

.title h3 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 2.2rem;
}

footer {
  /* height: 300px; */
  background-color: #e6e6e6;
  text-align: center;
}

footer .contact h3 {
  padding-top: 3%;
  font-size: 2rem;
}

footer .finish p {
  width: 100%;
  color: white;
  background-color: rgb(22, 22, 22);
}

/* button */

.main-button {
  margin: 5% 0;
  text-align: center;
}

.main-button h2 a {
  background-color: #1b1464;
  color: #fff;
  padding: 3% 7%;
  border-radius: 5px;
  font-size: 3rem;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.main-button p {
  color: white;
  font-size: 1rem;
}

.more-button {
  margin: 4.5% 0;
  text-align: center;
}

.more-button p a {
  background-color: #000;
  color: #fff;
  padding: 1% 4%;
  border-radius: 5px;
}

/* 共通部分レスポンシブ */
@media screen and (max-width: 480px) {
  .slide {
    margin-top: 80px;
  }

  /* スライドショー */
  .slide img {
    height: 400px;
  }

  .main-button h2 a {
    font-size: 2rem;
    padding: 4% 7% 8%;
  }

  nav {
    display: none;
  }
  /* //////ハンバーガーメニュー/////// */
  /* #header {
    text-align: initial;
  } */

  /* 次回ココから　ラインheight合わせる。 */
  #nav-drawer {
    width: 28%;
    position: relative;
    display: inline-block;
    text-align: right;
    margin: 20px 0 0 50px;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display: none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 50px;
    vertical-align: middle;
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span,
  #nav-open span:before,
  #nav-open span:after {
    position: absolute;
    height: 3px; /*線の太さ*/
    width: 25px; /*長さ*/
    border-radius: 3px;
    background: #555;
    display: block;
    content: "";
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none; /*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0; /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /*最前面に*/
    width: 90%; /*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px; /*最大幅（調整してください）*/
    height: 100%;
    background: #fff; /*背景色*/
    transition: 0.3s ease-in-out; /*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%); /*左に隠しておく*/
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block; /*カバーを表示*/
    opacity: 0.5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); /*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }

  /*//////// ハンバーガー完//////// */

  /* button */
  .main-button {
    margin: 13% 0;
  }

  .more-button {
    margin: 10%;
  }

  .more-button p a {
    padding: 5% 10%;
  }
  /* footer */
}
